.header {
    max-width: auto;
    height: auto;
    background-size: cover;
    background-attachment: scroll;
    background: rgb(34,93,195);
    background: linear-gradient(0deg, rgba(34,93,195,0.9374124649859944) 0%, rgba(45,253,224,1) 100%);
}

.body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    justify-content: center;
    background: rgb(77,157,255);
    background: linear-gradient(0deg, rgba(131, 185, 252, 0.332) 6%, rgba(134,246,240,0.469625350140056) 100%);
    background-size: cover;
    background-attachment: scroll;
    overflow: hidden;
}
.nav a {
    float: center;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 10px 5px;
    text-transform: uppercase;
    text-decoration: none;
    
}
.about {
    float: left;
    text-align: left;
    font-size: 21px;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.vfx {
    float: center;
    text-align: center;
    font-size: 21px;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.web {
    float: center;
    text-align: center;
    font-size: 21px;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.contact {
    float: right;
    text-align: right;
    font-size: 21px;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.aboutme {
    background-image: url(/images/abouttom.JPG);
    background-position: center;
    max-width: 100%;
    width: 560px;
    color: white;
}

#tom {
    display: flex;
    justify-content: center;
}
.about-container {
    display: flex;
    justify-content: center;
    background: rgb(77,157,255);
    background: linear-gradient(0deg, rgba(77,157,255,0.7245273109243697) 6%, rgba(134,246,240,0.469625350140056) 100%);
}
.vfx-container {
    display: flex;
    justify-content: center;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
    background-size: cover;
    background: rgb(118,232,255);
    background: linear-gradient(0deg, rgba(118,232,255,0.7945553221288515) 0%, rgba(179, 247, 255, 0.666) 100%);
}

.vfx-container > div {
    text-align: center;
    line-height: 15px;
    font-size: 20px;
    margin: 10px;
}
.vfx-title {
    display: flex;
    color: rgba(0, 77, 54, 0.741);
    justify-content: center;
    font-size: 25px;
    background: rgb(0,155,255);
    background: linear-gradient(0deg, rgba(0,155,255,0.6166841736694677) 0%, rgba(255,255,255,0.7679446778711485) 100%);
}
.web-designers {
    display: flex;
    justify-content: center;
    color: rgba(0, 77, 54, 0.741);
    font-size: 25px;
    background: rgb(0,155,255);
    background: linear-gradient(0deg, rgba(0,155,255,0.6166841736694677) 0%, rgba(255,255,255,0.7679446778711485) 100%);
}
.web-container {
    display: flex;
    justify-content: center;
    height: 275px;
    flex-wrap: wrap;
    align-content: space-between;
    background-size: cover;
    background: rgb(0,155,255);
    background: linear-gradient(0deg, rgba(0,155,255,0.6166841736694677) 0%, rgba(136,255,236,0.7315301120448179) 100%);
}
.web-container > div {
    text-align: center;
    line-height: 15px;
    font-size: 20px;
    margin: 10px;
}

.contact-info {
    display: flex;
    justify-content: center;
    color: rgba(0, 77, 54, 0.741);
    font-size: 25px;
    background: rgb(0,155,255);
    background: linear-gradient(0deg, rgba(0,155,255,0.6166841736694677) 0%, rgba(255,255,255,0.7679446778711485) 100%); 
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    height: auto;
    background-size: cover;
    background-attachment: scroll;
    background: rgb(34,74,195);
    background: linear-gradient(0deg, rgba(186, 189, 198, 0.862) 0%, rgba(45,253,224,1) 100%);
}
.quote-container {
    display: flex;
    justify-content: center;
}
.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/quotesbanner.JPG);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    width: 1920px;
    height: 690px;
}
/* #sagan-quote {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: rgba(0, 77, 54, 0.741);
    font-size: 30px;
    height: 60px;
} */
#quoteDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.866);
    font-size: 26px;
    height: 50px;
}
button {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(177, 201, 199, 0.579) 0%, rgba(6, 255, 226, 0.825) 100%);
}
.quoteButton {
    /* position: absolute; */
    /* position: static; */
    /* display: inline-block; */
    position: relative;
    display: inline-block;
    transition: .5s ease;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(177, 201, 199, 0.579) 0%, rgba(0, 0, 0, 0.825) 100%);
}


/* Mobile 0 */

@media only screen and (max-width: 480px) {
    .nav-container {
        display: none;
    }
    .about-container .fantasypic {
        display: none;
    }
    .vfx-container {
    display: flex;
    justify-content: center;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
    background-size: cover;
    }
    .web-container {
        display: grid;
        grid-column: 1;
        grid-row: 3;
        height: 100%;
    }
    .about-container .about-info #info {
        grid-column: 1;
        grid-row: 1/2;
        height: 100%;
        font-size: 55%;
    } 
    .vfx-container #video1 {
        display: none; 
    }
    .vfx-container #video2 {
        display: none; 
    }
    .vfx-container #video4 {
        display: none; 
    }
    .vfx-container #video7 {
        display: none; 
    }
    .vfx-container #video8 {
        display: none; 
    }
    .web-container .site2 {
        display: none; 
    }
    .web-container .site4 {
        display: none; 
    }
    .contact-container #insta {
        display: none;
    }
    .contact-container #youtube {
        display: none;
    }
    .contact-container #twitter {
        display: none;
    }
    #inspire-quotes {
        display: none;
    }
    .quote-container {
    display: none;
    }
}

/* Mobile 1*/

@media only screen and (max-width: 593px) {
    .nav-container {
        display: none;
    }
    .about-container .fantasypic {
        display: none;
    }
    .vfx-container {
    display: flex;
    justify-content: center;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
    background-size: cover;
    }
    .web-container {
        display: grid;
        grid-column: 1;
        grid-row: 3;
        height: 100%;
    }
    .about-container .about-info #info {
        grid-column: 1;
        grid-row: 1/2;
        height: 100%;
        font-size: 55%;
    } 
    .vfx-container #video1 {
        display: none; 
    }
    .vfx-container #video2 {
        display: none; 
    }
    .vfx-container #video4 {
        display: none; 
    }
    .vfx-container #video7 {
        display: none; 
    }
    .vfx-container #video8 {
        display: none; 
    }
    .web-container .site1 {
        display: none; 
    }
    .web-container .site3 {
        display: none; 
    }
    .contact-container #insta {
        display: none;
    }
    .contact-container #youtube {
        display: none;
    }
    .contact-container #twitter {
        display: none;
    }
    #inspire-quotes {
        display: none;
    }
    .quote-container {
    display: none;
    }
}

/* Mobile 2 */

@media only screen and (max-width: 594px) {
    .nav a {
        font-size: 12.4px;
    }
    .about-container .fantasypic {
        display: none;
    }
    .vfx-container {
        display: grid;
        grid-column: 1;
        grid-row: 2;
        height: 50%;
    }
    .web-container {
        display: grid;
        grid-column: 1;
        grid-row: 3;
        height: 100%;
    }
    .about-container .about-info #info {
        grid-column: 1;
        grid-row: 1/2;
        height: 100%;
        font-size: 55%;
    } 
    .vfx-container #video1 {
        display: none; 
    }
    .vfx-container #video2 {
        display: none; 
    }
    .vfx-container #video4 {
        display: none; 
    }
    .vfx-container #video7 {
        display: none; 
    }
    .vfx-container #video8 {
        display: none; 
    }
    .web-container .site1 {
        display: none; 
    }
    .web-container .site3 {
        display: none; 
    }
    .contact-container #insta {
        display: none;
    }
    .contact-container #youtube {
        display: none;
    }
    .contact-container #twitter {
        display: none;
    }
}
/* MOBILE 3 */

@media only screen and (max-width: 709px) {
    .about-container .fantasypic {
        display: none;
    }
    .nav a {
        font-size: 15px;
    }
}

/* TABLET */

@media only screen and (max-width: 710px) {
    .vfx-container {
        display: grid;
        grid-column: 2;
        grid-row: 2/3;
        height: 50%;
    }
    .web-container {
        display: grid;
        grid-column: 1;
        grid-row: 3;
        height: 100%;
    }
    .about-container .about-info #info {
        grid-column: 1;
        grid-row: 1/2;
        height: 100%;
        font-size: 55%;
    } 
    .vfx-container #video1 {
        display: none; 
    }
    .vfx-container #video7 {
        display: none; 
    }
    .contact-container #insta {
        display: none;
    }
    .contact-container #twitter {
        display: none;
    }
}

/* DESKTOP */

@media only screen and (max-width: 1080px) {
    .vfx-container {
        height: 100%;
    }
    .web-container {
        height: 100%;
    }
}

/* Ultra DESKTOP */

@media only screen and (max-width: 1536px) {
    .vfx-container {
        height: 100%;
    }
    .web-container {
        height: 100%;
    }
}
