/* * {
    margin: 0;
    padding: 0;
} */
.header {
    display: grid;
    grid-template-columns: 300px 300px;
    align-items: end;
}

.nav ul {
    color: white;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 15px;
    margin-right: 10px;
    position: relative;
    bottom: 30px;
}

.column {
    display: grid;
    align-items: end;
}
.article1 {
    display: grid;
    margin-right: 10px;
}
.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-right: -10px;
    padding: 5px;
}
.ten {
    color: red;
}
h5 {
    color: gray;
}

h1 {
    font-family: sans-serif;
    font-size: 320%;
    opacity: 85%;
}
#bdp {
    font-size: 150%;
    opacity: 60%;
    position: relative;
    bottom: 20px;
}